
https://prepinsta.com/top-100-codes/

# PrepInsta Top 100 Codes

In [ ]:
1.Positive or Negative number

In [3]:
x = int(input())
if x>=0:
    print('+ve')
else:
    print('negative')

5
+ve

2.Even or Odd number

In [5]:
x = int(input())
if x%2==0:
    print('even')
else:
    print('odd')

5
odd

3.Sum of First N Natural numbers

In [7]:
x = int(input())
def s1(n):
    return (n*(n+1))/2
s1(x)

5

15.0

4.Sum of N natural numbers

In [8]:
x = int(input())
def s1(n):
    return (n*(n+1))/2
s1(x)

14

105.0

5.sum of numbers in a given

In [17]:
n1,n2 = [int(i) for i in input().split(' ')]

def s2(n1,n2):
    x1=0
    for i in range(n1+1,n2):
        x1 = x1+i
    return x1
print(s2(n1,n2))

1 10
44

In [ ]:
6.Greatest of two numbers

In [21]:
n1,n2 = [int(i) for i in input().split(' ')]
if n1>n2:
    print("greater number"+":"+str(n1))
else:
    print("greater number"+":",n2)

5 4
greater number:5

In [ ]:
7.Greatest of the Three numbers

In [27]:
n1,n2,n3 = [int(i) for i in input().split(' ')]
if n1>n2 and n1>n3:
    print(n1)
elif n2>n3 and n2>n1:
    print(n2)
else:
    print(n3)

963 852 741
963

8.Leap year or not

In [55]:
x = int(input())
def ly(n):
    if (n%4==0 and n%100!=0) or n%400==0:
        return n
if ly(x):
    print("leap year:",x)

2020
leap year: 2020

9.Prime number

In [63]:
def pn(n):
    c=0
    for i in range(1,n//2+1):
        if n%i==0:
            c=c+1
    if c==1:
        return n
x = int(input())
if pn(x):
    print("prime number: ",x)
else:
    print("Not prime no")

582
Not prime no

10.Prime number within a given range

In [65]:
def pn(n):
    c=0
    for i in range(1,n//2+1):
        if n%i==0:
            c=c+1
    if c==1:
        return n
n1,n2 = [int(i) for i in input().split(' ')]
n3 = []
for i in range(n1,n2+1):
    if pn(i):
        n3.append(i)
print(n3)
print(len(n3))

1 100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

11.Sum of digits of a number

In [67]:
x = input()
l = 0
for i in x:
    l += int(i)
print(l)

123
6

12.Reverse of a number

In [69]:
x = input()
print(x[::-1])

123
321

13.Palindrome number

In [72]:
x = input()
if x[::-1]==x:
    print("Palindrome")

12321
Palindrome

14.Armstrong number

In [2]:
def arm(n):
    k = str(n)
    l = 0
    for i in k:
        l += (int(i))**3
    if l==n:
        return n
x = int(input())
if arm(x):
    print("amstromg no : ",x)

153
amstromg no :  153

15.	Armstrong number in a given range

In [2]:
def arm(n1):
    k = str(n1)
    l = 0
    for i in k:
        l = l + (int(i))**3
    if l==n1:
        return n1
n1,n2 = [int(i) for i in input().split(',')]
n3 = []
print(n1,n2)
for i in range(n1,n2+1):
    if arm(i):
        n3.append(i)
print(n3)
print(len(n3))

1,1000
1 1000
[1, 153, 370, 371, 407]
5

16.	Fibonacci Series upto nth term

In [7]:
def fib(n):
    if n<2:
        return n
    else:
        return fib(n-1)+fib(n-2)
fib(10)

55

In [12]:
def feb(n):
    n1=0
    n2=1
    k= []
    c=n
    while c>0:
        nth = n1+n2
        k.append(n1)
        n1=n2
        n2=nth
        c = c-1
    return k
x = int(input())
print(feb(x))

15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

17.	Factorial of a number

In [16]:
def fac(n):
    f = 1
    for i in range(1,n+1):
        f = f*i
    return f
x = int(input())
print(fac(x))

6
720

18.	Power of a number

In [18]:
n1,n2 = [int(i) for i in input().split(' ')]
def pow(n1,n2):
    k = n1**n2
    return k
print(pow(n1,n2))

2 3
8

19.	Factor of a number

In [72]:
def fac(n):
    l=[]
    for i in range(1,n+1):
        if n%i==0:
            l.append(i)
    return l
x=int(input())
print(fac(x))

72
[1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72]

20.	Strong number

In [21]:
def fac(n):
    f = 1
    for i in range(1,n+1):
        f = f*i
    return f
x = input()
l = 0
for i in x:
    l += fac(int(i))
if l==int(x):
    print("strong")

145
strong

21.	Perfect number

In [28]:
n = int(input())
def fac(n):
    l=[]
    for i in range(1,n//2+1):
        if n%i==0:
            l.append(i)
    return l
if sum(fac(n))==n:
    print("perfect Number : ",n)
else:
    print("not Perfect no")

6
perfect Number :  6

22.	Automorphic number

In [36]:
x = int(input())
def aut(n):
    s=0
    s=n*n
    if str(n) in str(s):
        return n
if aut(x):
    print('Automorphic number ')
else:
    print("Not Automorphic number")

6
Automorphic number

23.	Harshad number

In [45]:
def har(n):
    k = str(n)
    s=0
    for i in k:
        s=s+int(i)
    if n%s==0:
        return n
x=int(input())
if har(x):
    print("Harshad: ",x)

54
Harshad:  54

24.	Abundant number

In [54]:
def fac(n):
    l=[]
    for i in range(1,n//2+1):
        if n%i==0:
            l.append(i)
    return l
x = int(input())
if sum(fac(x))>x:
    print("abundant number")
else:
    print("not abundant")

21
not abundant

25.	Friendly pair

In [60]:
def fac(n):
    l=[]
    for i in range(1,n+1):
        if n%i==0:
            l.append(i)
    return (sum(l)/n)
n1,n2 = [int(i) for i in input().split(' ')]
if fac(n1)==fac(n2):
    print("friendly")
else:
    print("not friendly")

6 28
friendly

26.	Highest Common Factor(HCF)

In [67]:
n1,n2 = [int(i) for i in input().split(' ')]
def hcff(n1,n2):
    l=[]
    for i in range(1,max(n1,n2)+1):
        if (n1%i==0) and (n2%i==0):
            l.append(i)
    return max(l)
print(hcff(n1,n2))

36 60
12

27.	Lowest Common Multiple (LCM)

In [1]:
import numpy as np

In [9]:
n1,n2 = [int(i) for i in input().split(' ')]
def lcff(n1,n2):
    l=[]
    larger = max(n1,n2)
    print(larger)
    while True:
        if larger%n1==0 and larger%n2==0:
            lcm = larger
            return lcm
            break
        larger = larger + max(n1,n2)
print(lcff(n1,n2))

60 72
72
360

28.	Greatest Common Divisor

In [10]:
num1 = int(input("Enter First Number:"))
num2 = int(input("Enter Second Number:"))


def gcdFunction(num1, num2):
    if num1 > num2:
        small = num2
    else:
        small = num1
    for i in range(1, small+1):
        if (num1 % i == 0) and (num2 % i == 0):
            gcd = i
    print("GCD of two Number: {}".format(gcd))

gcdFunction(num1, num2)

Enter First Number:5
Enter Second Number:10
GCD of two Number: 5

29.	Binary to Decimal to conversion

In [38]:
x = input()
def btd(s):
    l = len(s)-1
    sm = 0
    for i in s:
        k = int(i)
        j = 2**(l)
        sm = sm + k*j
        l = l-1
    return sm
print(btd(x))

111111
63

In [45]:
x = input()
print(int(x,2))

1111
15

30.	Binary to Octal conversion

In [54]:
x = 0b10111
print(oct(int(x)))

0o27

31.	Decimal to Binary conversion

In [58]:
x = int(input())
print(bin(x).replace('0b',''))

15
1111

32.	Decimal to octal Conversion

In [64]:
x = int(input())
print(oct(x))

2
0o2

33.	Octal to Binary conversion

In [65]:
oct_num = 0o564
bin_num = bin(oct_num)
print(str(bin_num))

0b101110100

34.	Octal to Decimal conversion

In [70]:
x = 0o512
print(int(x))

330

35.	Quadrants in which a given coordinate lies

In [71]:
X,Y = [int(i) for i in input().split(' ')]
if X > 0 and Y > 0:
    print(' First quadrant')
elif X < 0 and Y > 0:
    print('Second quadrant')
elif X < 0 and Y < 0:
    print('Third quadrant')
elif X > 0 and Y < 0:
    print('Fourth quadrant')
else: 
    print('Origin')

4 -2
Fourth quadrant

36.	Permutations in which n people can occupy r seats in a classroom

In [73]:
def fact(n):
    f = 1
    for i in range(1,n+1):
        f = f*i
    return f
n,r = [int(i) for i in input().split(' ')]
result = fact(n)/fact(n-r)
print(result)

10 6
151200.0

37.	Maximum number of handshakes

In [74]:
n = int(input())
print(n*(n-1)/2)

30
435.0

38.	Addition of two fractions

In [97]:
n1,n2,d1,d2=[int(i) for i in input().split(' ')]
d = d1*d2
n = (d2*n1)+(d1*n2)
#print(d,n)
l = []
for i in range(1,max(d,n)//2+1):
    if d%i==0 and n%i==0:
        l.append(i)
k = max(l)
#print(k)
d = d/k
n = n/k
#print(d,n)
print(n,'/',d)

14 21 10 3
42.0 / 5.0

39.	Replace all 0â€™s with 1 in a given integer

In [76]:
x = input()
x.replace('0','1')

10000000000000000

'11111111111111111'

40.	Can a number be expressed as a sum of two prime numbers

In [107]:
x = int(input())
def pm(n):
    c=0
    for i in range(2,n//2+1):
        if n%i==0:
            c+=1
    if c==0:
        return n
l=[]
for i in range(1,x):
    if pm(i):
        l.append(i)
print(l)
# for i in range(len(l)+1):
#     for j in range(i+1,len(l)):
#         if l[i]+l[j]==x:
#             print('yes',l[i],'+',l[j],'=',x)

for i in l:
    for j in l:
        if i+j==x:
            print('yes',i,'+',j,'=',x)

30
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
yes 1 + 29 = 30
yes 7 + 23 = 30
yes 11 + 19 = 30
yes 13 + 17 = 30
yes 17 + 13 = 30
yes 19 + 11 = 30
yes 23 + 7 = 30
yes 29 + 1 = 30

42.	Check whether a character is a vowel or consonant

In [93]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
x = input()
if x in vowels:
    print('Vowel')
else:
    print('Consonant')

a
Vowel

43.	Check whether a character is a alphabet or not

In [91]:
x = input()
k = ord(x)
if(65<=k<=90) or (97<=k<=122):
    print('albhabet')
else:
    print('not alphabet')

g
albhabet

44.	Calculate the area of a circle

In [78]:
r = int(input('enter radius'))
area = 3.14*r*r
print(area)

enter radius5
78.5

45.	Find the ASCII value of a character

In [109]:
x = input()
print(ord(x))

a
97

46.	Find the prime numbers between 1 to 100

In [83]:
def pm(n):
    c=0
    for i in range(2,n//2+1):
        if n%i==0:
            c+=1
    if c==0:
        return n
l = []
for i in range(2,100):
    if pm(i):
        l.append(i)
print(l)
print(len(l))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

47.	Calculate the number of digits in an integer

In [77]:
x = input()
print(len(x))

153
3

48.	Convert digit/number to words

In [5]:
def digits(n):
    l = []
    for i in str(n):
        l.append(int(i))
    return l

x= input()

ones_digits = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]; 
tens_digits = ["", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen","nineteen"]; 
multiple_of_ten = ["", "", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]; 
power_of_ten = ["hundred", "thousand"];
def onedig(x):
    return [ones_digits[int(x)]]
def twodig(x):
    if 10<=int(x)<=19:
        k = digits(int(x))
        return [tens_digits[k[1]+1]]
    elif 20<=int(x)<=99:
        k = digits(int(x))
        return [multiple_of_ten[k[0]],' ',ones_digits[k[1]]]
def threedig(x):
    if int(x)==100:
        return ['hundred']
    elif 100<int(x)<=999:
        k = digits(int(x))
#         print(k)
        j = int(str(k[1])+str(k[2]))
        td=twodig(j)
        sd = ' '.join(td)
        print(ones_digits[k[0]],' hundred ',sd)
    return [ones_digits[k[0]],' hundred ',sd]

def fourdig(x):
    if int(x)==1000:
        return ['thousand']
    elif 1000<int(x)<=9999:
        k = digits(int(x))
#         print(k)
        j = int(str(k[1])+str(k[2])+str(k[3]))
        td=threedig(j)
        sd = ' '.join(td)
        print(ones_digits[k[0]],'thousand ',sd)


if len(x)==1:
    od=twodig(x)
    pd = ' '.join(pd)
    print(pd)

if len(x)==2:
    td=twodig(x)
    sd = ' '.join(td)
    print(sd)
if len(x)==3:
    threedig(x)
if len(x)==4:
    fd=fourdig(x)

1223
two  hundred  twenty   three
one thousand  two  hundred  twenty   three

49.	Counting number of days in a given month of a year

In [20]:
d = {'jan':31,'feb':28,'mar':31,'apr':30,'may':31,'jun':30,'july':31,'aug':31,'sep':30,'oct':31,'nov':30,'dec':31}
def lp(n):
    if (n%4==0) and (n%100!=0):
        return n
    elif n%400==0:
        return n
month = input()
year = int(input())
if lp(year):
    if month == 'feb':
        print('no of days=29')
    else:
        print(d.get(month))
        
else:
    print(d.get(month))

apr
2021
30

50.	Finding Number of times x digit occurs in a given input

In [24]:
n1 = input('enter integer:')
n2 = input('input:')
print('Number of times x digit occurs',n2.count(n1))

enter integer:8
input:8498588884598
Number of times x digit occurs 7

In [ ]:
51.	Finding number of integers which has exactly x divisors

In [27]:
n = int(input())
nod = int(input())
def div(n):
    l=[]
    for i in range(1,n+1):
        if n%i==0:
            l.append(i)
    if len(l)==3:
        return n
p = []  
for i in range(0,n+1):
    if div(i):
        p.append(i)
print(p)

30
3
[4, 9, 25]

52.	Finding Roots of a quadratic equation

In [29]:
import math
#take user inputs
a = int(input('Enter value of a :'))
b = int(input('Enter value of b :'))
c = int(input('Enter value of c :'))
#check for value of a
if a == 0: 
    print("a cannot be zero") 
#if a is greater than 0
else:
    #calculate value of Function
    val = b**2 - 4 * a * c 
    root = math.sqrt(abs(val)) 
    #Check for roots and print according to their nature
    if val > 0: 
        print("Two Real Roots") 
        print((-b + root)/(2 * a)) 
        print((-b - root)/(2 * a)) 
    elif val == 0: 
        print("One Real Root") 
        print(-b / (2*a)) 
    else: 
        print("No Real Root") 
        print(- b / (2*a) , " + i", root) 
        print(- b / (2*a) , " - i", root)

Enter value of a :4
Enter value of b :5
Enter value of c :6
No Real Root
-0.625  + i 8.426149773176359
-0.625  - i 8.426149773176359

#  Important Codes related to Arrays

53.	Find Smallest Element in an Array

54.	Find Second Smallest Element in an Array

55.	Find Largest element in an array

56.	Find the Smallest and largest element in an array

57.	Calculate the sum of elements in an array

In [ ]:
l = [int(i) for i in input().split(' ')]
w = l
l.sort()
print(l)
print('smallest:',l[0])
print('largest:',l[-1])
print('second largest:',l[1])
print('Smallest and largest element',l[0],',',l[-1])
print('sum',sum(l))

In [19]:
l = [int(i) for i in input().split(' ')]
def sortt(l):
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[j]>l[i]:
                l[i],l[j]=l[j],l[i]
    return l[::-1]
print(sortt(l))

54 5612 26 6 55 1 22 1 54 51 45
[1, 1, 6, 22, 26, 45, 51, 54, 54, 55, 5612]

58.	Reverse an Array

In [12]:
l = [int(i) for i in input().split(' ')]
print('reverse',l[::-1])

41 521 4 51 51 51 5 2
reverse [2, 5, 51, 51, 51, 4, 521, 41]

In [8]:
l1 = [int(i) for i in input().split(' ')]
l = l1.sort()
print(l)

12 2 52 54
None

59.	Sort first half in ascending order and second half in descending

In [6]:
l = [int(i) for i in input().split(' ')]
if len(l)%2==0:
    fh = l[0:len(l)//2]
    sh = l[len(l)//2:]
if len(l)%2!=0:
    fh = l[0:len(l)//2+1]
    sh = l[len(l)//2+1:]
print(fh,sh)
sh.sort(reverse=True)
fh.sort()
h = fh+sh
print(h)

3 2 5 4 1 56 4 7
[3, 2, 5, 4] [1, 56, 4, 7]
[2, 3, 4, 5, 56, 7, 4, 1]

60.	Sort the elements of an array

In [8]:
l = [int(i) for i in input().split(' ')]
l.sort()
print(l)

562 652 62 65 23 3 1
[1, 3, 23, 62, 65, 562, 652]

61.	Finding the frequency of elements in an array

In [9]:
l = [int(i) for i in input().split(' ')]
d = dict()
for i in l:
    d[i]=l.count(i)
print(d)

0 1 2 5 2 66 3 5 5 2 5 2 5 4 5 552 6 6 1 4 1 1
{0: 1, 1: 4, 2: 4, 5: 6, 66: 1, 3: 1, 4: 2, 552: 1, 6: 2}

In [15]:
l = [int(i) for i in input().split(' ')]
h = []
d = []
for i in l:
    if i not in d: 
        k = []
        k.append(i)
        k.append(l.count(i))
        h.append(k)
        d.append(i)
print((h))

1 2 1 21 2 1 2 1 2 2
[[1, 4], [2, 5], [21, 1]]

62.	Finding the Longest Palindrome in an Array

In [1]:
n=int(input("ENTER ARRAY SIZE "))
arr=[ ]
for i in range(n):
    element=int(input())
    arr.append(element)
    arr.sort(reverse=True)
for i in arr:
    if str(i) == str(i)[::-1]:
        print('biggest palindrome:',i)
        break

ENTER ARRAY SIZE 5
123321
456654
123321
852258
159951
biggest palindrome: 852258

63.	Counting Distinct Elements in an Array

In [3]:
l = [int(i) for i in input().split(' ')]
d = dict()
for i in l:
    d[i]=l.count(i)
print(len(d),d)

1 2 5 2 3 6 45 12 5 2 6 2 3 6 5 2 3 5 2 2 5 2 2 21 22 2
9 {1: 1, 2: 10, 5: 5, 3: 3, 6: 3, 45: 1, 12: 1, 21: 1, 22: 1}

64.	Finding Repeating elements in an Array

In [5]:
l = [int(i) for i in input().split(' ')]
k=[]
for i in l:
    if l.count(i)>1:
        k.append(i)
print(set(k))

1 2 52 2 2 52 3 5 0 3 0 3 1 2 3 51 2 65 2 2 2 2 1 0 2 1
{0, 1, 2, 3, 52}

65.	Finding Non Repeating elements in an Array

In [6]:
l = [int(i) for i in input().split(' ')]
k=[]
for i in l:
    if l.count(i)==1:
        k.append(i)
print(set(k))

1 2 52 2 2 52 3 5 0 3 0 3 1 2 3 51 2 65 2 2 2 2 1 0 2 1
{65, 51, 5}

66.	Removing Duplicate elements from an array

In [8]:
l = [int(i) for i in input().split(' ')]
print(set(l))

1 2 52 2 2 52 3 5 0 3 0 3 1 2 3 51 2 65 2 2 2 2 1 0 2 1
{0, 1, 2, 3, 65, 5, 51, 52}

67.	Finding Minimum scalar product of two vectors

In [106]:
l = [int(i) for i in input().split(' ')]
l1 = [int(i) for i in input().split(' ')]
l.sort(reverse = True)
l1.sort()
s=0
for i,j in zip(l,l1):
    s += i*j
#     print(i,j,s)
print(s)

5 1 7 3 2
5 1 2 6 2
39

68.	Finding Maximum scalar product of two vectors in an array

In [105]:
l = [int(i) for i in input().split(' ')]
l1 = [int(i) for i in input().split(' ')]
l.sort()
l1.sort()
s=0
for i,j in zip(l,l1):
    s += i*j
#     print(i,j,s)
print(s)

5 1 7 3 2
5 1 2 6 2
78

69.	Counting the number of even and odd elements in an array

In [9]:
l = [int(i) for i in input().split(' ')]
even,odd = 0,0
for i in l:
    if i%2==0:
        even += 1
    else:
        odd +=1
print(even,odd)

1 2 52 2 2 52 3 5 0 3 0 3 1 2 3 51 2 65 2 2 2 2 1 0 2 1
15 11

70.	Find all Symmetric pairs in an array

In [23]:
n = int(input("enter no of pairs"))
l = []
for i in range(0,n):
#     j = [int(i) for i in input().split(' ')]
#     l.append(j)
    x,y = input().split(' ')
    j = [int(x),int(y)]
    l.append(j)
print(l)
k = [set(i) for i in l]
print(*(i for i in l if k.count(set(i))==2))

enter no of pairs5
1 2
2 1
5 1
4 8
3 5
[[1, 2], [2, 1], [5, 1], [4, 8], [3, 5]]
[1, 2] [2, 1]

71.	Find maximum product sub-array in a given array

In [4]:
l = [int(i) for i in input().split(' ')]
pos=[]
neg=[]
for i in l:
    if i>0:
        pos.append(i)
    elif i<0:
        neg.append(i)
import numpy as np
x = np.prod(pos)
if len(neg)%2==0:
    y = np.prod(neg)
    print(x*y)
else:
    j = max(neg)
    neg.remove(j)
    y = np.prod(neg)
    print(x*y)

-1 -3 -10 60 0
1800

72.	Finding Arrays are disjoint or not

In [8]:
l = [int(i) for i in input().split(' ')]
l2 = [int(i) for i in input().split(' ')]
if len(set(l+l2))== len(l)+len(l2):
    print('disjoint')
else:
    print('not disjoint')

1 2 3 6
5 4 7 8
disjoint

73.	Determine Array is a subset of another array or not

In [14]:
l1 = [int(i) for i in input().split(' ')]
l2 = [int(i) for i in input().split(' ')]
if any(i in l2 for i in l1):
    print("subset")
else:
    print("not subset")

1 2 3 4 5
1 2 3
subset

74.	Determine can all numbers of an array be made equal

In [41]:
l = [int(i) for i in input().split(' ')]
c=[]
for i in l:
    while i%2==0:
        i = i/2
    while i%3==0:
        i = i/3
#     print(i)
    c.append(i)
# for i in range(0,len(c)):
#     if c[i]!=c[0]:
#         print("cannot be made equal")
#         break
if len(set(c))==1:
    print("can be made equal")
else:
    print("can't made equal")

50 25 100
can be made equal

75.	Finding Minimum sum of absolute difference of given array

In [53]:
l = list(map(int,input().split(' ')))
l.sort()
if len(l)%2!=0:
    mean = l[len(l)//2]
else:
    mean = (l[len(l)//2-1]+l[len(l)//2])/2
summ=0
for i in l:
    summ += abs(mean-i)
print(summ)

2 3 9 5 6
10

76.	Sorting elements of an array by frequency

In [80]:
l = list(map(int,input().split()))
d = dict()
for i in l:
    d[i]=l.count(i)
#print(d)
u = (sorted(d.items(),key = lambda a : a[1]))
#print(u)
j =(list(zip(*u))[0])
print(list(j))

3 3 3 3 2 2 2 2 2 1 1 11 11 1
[11, 1, 3, 2]


77.	Sort an array according to the order defined by another array

In [96]:
l = list(map(int,input().split()))
l2= [int(i) for i in input().split(' ')]
o = []
h = []
p  = []
for i in l:
    if i not in l2:
        p.append(i)
    
for i in l2:
    if i in l:
        if i not in o:
            j = l.count(i)
#             for k in range(j):
            h.extend([i for k in range(j)])
        o.append(i)
print(p)
print(h+p)

1 2 1 2 12 1 2 1 2 2 1 3 25
3 1 2 25
[12]
[3, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 25, 12]

78.	Replace each element of the array by its rank in the array

In [108]:
l = list(map(int,input().split()))
l2 = sorted(l)
r = []
d = dict()
for i,j in enumerate(l2,1):
    d[j]=i
print(d)
l1 = [d[i] for i in l]
print(l1)

5 19 16 4 3
{3: 1, 4: 2, 5: 3, 16: 4, 19: 5}
[3, 5, 4, 2, 1]


79.	Finding equilibrium index of an array

In [114]:
l = list(map(int,input().split()))
for i in range(1,len(l)):
    if sum(l[0:i])==sum(l[i+1:]):
        print(i)

-4 3 0 2 -7 1 5
3

80.	Rotation of elements of array- left and right

In [124]:
l = list(map(int,input().split()))
print(l)
n = int(input())
for i in range(n):
    x = l.pop()
    l.insert(0,x)
print(l)

10 20 50 40 60
[10, 20, 50, 40, 60]
3
[50, 40, 60, 10, 20]

81.	Block swap algorithm for array rotation

ENTER ARRAY ELEMENTS 10 20 30 40 50 60
Array Elements before rotation :
10 20 30 40 50 60

Array Elements after rotation :
30 40 50 60 10 20

82.	Juggling algorithm for array rotation

In [129]:
import math
def leftRotate(arr, d, n): 
     for i in range(math.gcd(d, n)): 
         temp = arr[i] 
         j = i 
         while 1: 
             k = j + d 
             if k >= n:
                 k = k - n 
             if k == i: 
                 break
             arr[j] = arr[k] 
             j = k 
             arr[j] = temp  
arr =list(map(int,input("ENTER ARRAY ELEMENTS ").split()))
n = len(arr)
no_of_rotations = 2

print("Array Elements before rotation : ")
print(*arr) 
leftRotate(arr, no_of_rotations, n )
print("\nArray Elements after rotation : ")
print(*arr)

ENTER ARRAY ELEMENTS 10 20 30 40 50 60
Array Elements before rotation :
10 20 30 40 50 60

Array Elements after rotation :
30 40 50 60 10 20

83.	Finding Circular rotation of an array by K positions

In [4]:
l=list(map(int,input().split()))
n=int(input()) #no of rotations
print("Array ",l)
n=n%len(l)
for i in range(n):
    x=a.pop(-1)
    a.insert(0,x)
print("Array after rotation",l)

1 2 5 35
5
Array  [1, 2, 5, 35]
Array after rotation [1, 2, 5, 35]

# You can find the below Programs in all languages

84.	Program for Pyramid star pattern

In [15]:
n = int(input())
for i in range(0,n):
    print(' '*(n-1-i),'*'*(2*i+1))

10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

85.	Program for Pyramid number pattern

In [19]:
n = int(input())
for i in range(0,n):
    print(' '*(n-1-i),str((i+1))*(2*i+1))

9
         1
        222
       33333
      4444444
     555555555
    66666666666
   7777777777777
  888888888888888
 99999999999999999

86.	Program for Palindromic Pyramid Pattern â€“

In [46]:
n = int(input())
for i in range(0,n+1):
    for j in range(i,n+1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

5

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

87.	Program for Diamond star pattern

In [40]:
n = int(input())
for i in range(0,n):
    print(' '*(n-1-i),'*'*(2*i+1))
for i in range(0,n-1):
    #print(' '*(n-1-i),'*'*(2*i+1))
    print(' '*(i+1),'*'*(2*(n-i-2)+1))

5
     0
    111
   22222
  3333333
 444444444
  3333333
   22222
    111
     0

88.	Program for Diamond number pattern

In [42]:

n = int(input())
for i in range(0,n):
    print(' '*(n-1-i),str(i)*(2*i+1))
for i in range(0,n-1):
    #print(' '*(n-1-i),'*'*(2*i+1))
    print(' '*(i+1),str(n-i-2)*(2*(n-i-2)+1))

5
     0
    111
   22222
  3333333
 444444444
  3333333
   22222
    111
     0

89.	Program for Floydâ€™s Trianlge â€“

In [66]:
n = int(input())
k = 1
for i in range(1,n):
    print(",".join(str(i) for i in range(k,k+i)))
    k = k+i

10
1
2,3
4,5,6
7,8,9,10
11,12,13,14,15
16,17,18,19,20,21
22,23,24,25,26,27,28
29,30,31,32,33,34,35,36
37,38,39,40,41,42,43,44,45


90.	Program for Pascal triangle

In [68]:
n = int(input())
for i in range(0,n):
    l = 1
    for j in range(1,n-i):
        print("  ", end="")
    for k in range(0, i+1):
        print("  ", l, end="")
        l = int(l*(i - k)/(k + 1))
    print()

10
                     1
                   1   1
                 1   2   1
               1   3   3   1
             1   4   6   4   1
           1   5   10   10   5   1
         1   6   15   20   15   6   1
       1   7   21   35   35   21   7   1
     1   8   28   56   70   56   28   8   1
   1   9   36   84   126   126   84   36   9   1

91.	Program to Check array similarity

In [49]:
l1=[int(i) for i in input().split(' ')]
l2=[int(i) for i in input().split(' ')]
if l1.sort()==l2.sort():
    print('similar arrays')
else:
    print('not similar')

1 2 3
1 3 2
similar arrays

92.	Program for Square sum

In [48]:
l=[int(i) for i in input().split(' ')]
s=0
for i in l:
    s+=i*i 
print(s)

2 5 10
129

93.	Program for Longest palindrome in the array

In [47]:
n = [i for i in input().split()]
l=[]
d = dict()
for i in n:
    if i==i[::-1]:
        l.append(i)
bigger = '1'
for i in l:
    if len(i)==len(bigger):
        bigger = max(int(i),int(bigger))
    elif len(i)>len(bigger):
        bigger = i
print(bigger)

2222222 121 55255 444222444
444222444

# Operations on Strings

94.	Length of the string without using strlen() function

In [20]:
l = input()
c=0
for i in l:
    c = c+1
print(c)

suresh
6

95.	Toggle each character in a string

96.	Count the number of vowels

In [21]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
l = input()
c=0
for i in l:
    if i in vowels:
        c=c+1
print(c)

sxbnjuytrfvbjuy
2

97.	Remove the vowels from a String

In [25]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
print(''.join(i for i in input() if i not in vowels))

ramesh
rmsh

98.	Check if the given string is Palindrome or not

In [29]:
n = input()
if n == n[::-1]:
    print('Palindrome')
else:
    print('Not')

viviv
Palindrome

99.	Print the given string in reverse order

In [31]:
print(input()[::-1])

andhra
arhdna

100.Remove all characters from string except alphabets

In [55]:
def alp(n):
    if (65<=ord(n)<=97) or (97<=ord(n)<=122):
        return n
print(''.join(i for i in input() if alp(i)))

I love U but not IN 143 with $$$$
IloveUbutnotINwith

101.Remove spaces from a string

In [54]:
print(''.join(i for i in input() if i!=' '))

i hello y r u waiting darling
ihelloyruwaitingdarling

102.Remove brackets from an algebraic expression

In [57]:
l = ['{','}','[',']','(',')','<','>']
print(''.join(i for i in input() if i not in l))

X^3+(2*x)+{45}
X^3+2*x+45

103.Count the sum of numbers in a string

In [60]:
l = [int(i) for i in input() if i.isnumeric()]
print(sum(l))

Mahesh143
8

104.Capitalize the first and last character of each word of a string

In [68]:
s = input()
print(s[0].upper()+s[1:len(s)-1]+s[-1].upper())

itachi
ItachI

105.Calculate frequency of characters in a string

In [72]:
l = [i for i in input()]
k = set(l)
h = []
d = dict()
for i in l:
    if i not in h:
        d[i]=l.count(i)
        h.append(i)
print(d)
# for i in k:
#     d[i]=l.count(i)

Minato Namekaze
{'M': 1, 'i': 1, 'n': 1, 'a': 3, 't': 1, 'o': 1, ' ': 1, 'N': 1, 'm': 1, 'e': 2, 'k': 1, 'z': 1}

106.Find non-repeating characters in a string

In [73]:
l = input()
print(''.join(i for i in l if l.count(i)==1))

hare rama hare hare
m

107.Check if two strings are Anagram or not

In [5]:
s1 = input()
s2 = input()
if sorted(s1)==sorted(s2):
    print('anagrams')

itachi
chiati
anagrams

108.Replace a sub-string in a string

In [7]:
string = input()
s=input()
s1=input()
print(string.replace(s,s1))

I love you
love
hate
I hate you

109.Count common sub-sequence in two strings

In [6]:
s = input()
s1=input()
l=[]
d=[]
c=0
for i in range(0,len(s1)):
    for j in range(1,len(s1)):
        k = s1[i:i+j+1]
        l.append(k)
h = list(s1)
l = l+h
l = list(set(l))
for i in l:
    if i in s:
        d.append(i)
        c+=1
        
print(h)
print(l)
print(c)

abdc
abd
['a', 'b', 'd']
['abd', 'b', 'd', 'ab', 'a', 'bd']
6